.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
   
    margin-top: 50px;
    margin-bottom: 100px;
  }
 
  
  .card {
    width: calc(33.33% - 20px);
    display: inline-block;
    background-color: #850E35;
    padding: 20px;
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    vertical-align: top;
    max-height: 400px ;
    overflow: hidden; 
    
  }

  .content {
    text-align: center; 
    color:white;/* Center-align the content */
  }
  .im{
    max-height: 200px; /* Set a max height for the image */
    overflow: hidden; /* Hide overflow content (image) */
  }
  
  .logo {
    text-align: left;
    margin-bottom: 10px;
  }
  
  .logo img {
    max-width: 80px;
    margin-left: 2px;
    border-radius: 18px;
    ;
  }
  
  .content h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .content p {
    font-size: 14px;
    color: #555;
  }
  